<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employees</title>
</head>
<body>
<div th:fragment="footer-Cydeo">
    <p style="background-color:orange; text-align:center"> Copyright Cydeo
        &copy; 2014 - &copy; <script>document.write(new Date().getFullYear())</script>
    </p>
</div>

<!--<div th:replace="/fragments/footer::footer-Cydeo"> </div>-->
<!--  <p style="background-color:aqua"> Copyright Cydeo &copy; 2014 - -->
<!--    &copy; <script>document.write(new Date().getFullYear())</script>-->
<!--  </p>-->

</body>
</html>