<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title >Employees</title>
</head>
<body>
<h2>Employees List</h2>
<!--ordered list-->
<ul>
 <b> <li style="color:green">Ziyad, Technician</li></b>
  <li style="color:red">Zahir, CEO</li>
 <b> <li  font="bold", style="color:darkblue">Zapaer, President</li> </b>

</ul>
<!--unordered list-->
<ol>

  <li th:text="${employees.get(0).firstName}"></li>
  <li>Jack</li>
  <li>Sam</li>
</ol>
</body>

<head>
<title>Employees</title>
  <link th:href="@{/css/custom.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<h2 class="customDesign">Employees List</h2>
<table class="customDesign">
  <thead>
  <tr>
    <td>Firstname </td>
    <td>Lastname </td>
    <td>Job Title </td>
    <td>Salary </td>
  </tr>
  </thead>
  <tbody>
  <tr th:each="employee: ${employees}" style="background-color:lightgreen">
    <td th:text="${employee.firstName}"></td>
    <td th:text="${employee.lastName}"></td>
    <td th:text="${employee.jobTitle}"></td>
    <td th:text="${employee.salary}"></td>
  </tr>
  </tbody>
</table>
<br>

<label style="background-color:lightyellow" >Scheduling Table</label>

<table>
  <thead>
  <tr class="headings">
    <th th:each="header: ${headers}" class="column-title" th:text="${header}" />
  </tr>
  </thead>
  <tbody>
  <tr class="even pointer" th:each="row: ${rows}" >
    <td th:each="row: ${rows}" th:text="${row}" > </td>
  </tr>
  </tbody>
</table>

<div th:replace="/fragments/footer::footer-Cydeo"> </div>
<!--  <p style="background-color:aqua"> Copyright Cydeo &copy; 2014 - -->
<!--    &copy; <script>document.write(new Date().getFullYear())</script>-->
<!--  </p>-->

</body>
</html>