<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employees</title>
</head>
<body>
<h2>New Employee</h2>
<b><h3  style="color:darkblue"  th:text="${first_Name}"></h3></b>
<b><h3  style="color:darkblue"  th:text="${lastName}"></h3></b>
<b><h3  style="color:darkblue"  th:text="${salary}"></h3></b>
<img th:src="@{/static/nature-background-02.jpg}" alt="background image" />
<a th:href="@{http://cydeo.com}"> Cydeo </a>
<br>
<br>
<a th:href="@{http://cydeo.com}"> <img th:src="@{/static/cydeo-logo.png}" alt="background image"/> </a>


</body>
<div th:replace="/fragments/footer::footer-Cydeo"> </div>
</html>