<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <td>First Name</td>
        <td>Last Name</td>
        <td>Age</td>
        <td>Gender</td>
        <td>Contract</td>
        <td>Salary</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="teacher: ${teachers}">
        <td th:text="${teacher.firstName}"></td>
        <td th:text="${teacher.lastName}"></td>
        <td th:text="${teacher.age}"></td>
        <td th:text="${teacher.gender}"></td>
        <td th:text="${teacher.contract}"></td>
        <td th:text="${teacher.salary}"></td>
    </tr>

    </tbody>
</table>
</body>
</html>